* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dddcdd;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.top-card {
    background-color: #dddcdd;
    width: 100%;
    height: 150px;
    border-radius: .5rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1.2rem;
    box-shadow: 8px 8px 15px 1px #b5b4b5, -8px -8px 15px 1px #fff;
}

.top-card h1 {
    padding: 0.5rem;
}

.top-card p {
    margin-bottom: 1rem;
}

.top-card #total-value {
    font-size: 2rem;
}

.seta {
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.top-card div {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

#btn-new-transaction {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #6e6c6e;
    color: #fff;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
    border: none;
}

.transactions {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 1rem;
}

.transactions #transaction-container {
    width: 100%;

    display: flex;
    gap: 8px;
}

.transactions #transaction-container div {
    width: 545px;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    background-color: #f5f4f6;
    display: flex;
    justify-content: space-between;
}

.transactions #transaction-container button {
    min-width: 45px;
    height: 45px;
    background-color: #dc3546;
    border-radius: .5rem;
    cursor: pointer;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / .5);
}

dialog {
    width: 300px;
    margin: 0 auto;
    padding: 1rem 0;
    top: 30%;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    text-align: center;
}

dialog h1 {
    margin-bottom: 1rem;
}

dialog #inputs-radios {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

dialog .input-text {
    width: 250px;
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: .5rem;
    border: 0;

    background-color: #dddcdd;
}

dialog button {
    background-color: blue;
    color: #fff;
    margin-top: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

#chart-container {
    max-width: 250px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .top-card, .transactions {
        width: calc(100dvw - 10px);
    }
    .transactions #transaction-container div{
        width: calc(100dvw - 58px);
    }
}